<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Detail</title>
</head>
<body>
    <a href="/movies/"><button>back</button></a>
    <p>{{ movie_detail.title }}</p>
    <p>Director: {{ movie_detail.director }}</p>
    <p>{{ movie_detail.description }}</p>
    <hr/>
    <h3>All reviews</h3>
    {% for review in reviews %}
        <p>{{ review.text }}</p>
        <!-- <p>{{ review.movie }}</p> -->
        <hr/>
    {% endfor %}
</body>
</html>